@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda&display=swap');
body {
  font-family: 'Bodoni Moda', serif;
}
.description {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 80px;
  padding: 50px;
}
.option {
  cursor: pointer;
  text-align: center;
  font-size: 30px;
  padding: 4px;
}
.option:hover {
  font-size: 35px;
}
